node_modules/**/*
.cache
.github
.husky
.vscode
docs/**/*
src/**/*
scripts/**/* 
.editorconfig
.eslintignore
.eslintrc.cjs
.gitignore
.gitpod.yml
.prettierignore
CONTRIBUTING.md 
cspell.json
custom-elements-manifest.config.js
LICENSE.md
lint-staged.config.js
package-lock.json
prettier.config.cjs
package.json
README.md
tsconfig.json
tsconfig.prod.
vercel.
web-test-runner.config.js
